*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: url("/image/2.jpg") no-repeat;
	position: relative;
}

.header {
	background-color: rgba(119, 119, 119, 0.863);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;


}
.container {
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
	
}
.header__inner {
	
}
.header__menu {
	
}
.nav {
	
}
.nav__menu {
	display: flex;
	justify-content: center;
}
.nav__item {
	margin: 10px 80px 10px 0;
	list-style-type: none;
}

.nav__item:first-child{
	margin-left: 0;
}

.nav__link {
	font-size: 25px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: color .15s;
}


.nav__link:hover{
	color: rgb(245, 245, 245);
	transition: color .15s;
}



.content {

	height: 100%;



}
.content__inner {
	width: 1400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;

}
.content__block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 90px;
}

.content__foto {
	border: #111 2px solid;
	display: flex;
	justify-content: center;
	width: 900px;
	height: 500px;
	background-color: #111;
}
.content__title {
	text-align: center;
}
.content__text {
	padding: 5px;
	line-height: 1.5;
}